body{
    margin:0;
    background-image: url("./gradient.webp");
    background-repeat: no-repeat;
    background-size: cover;


}
.route-container{
    display: flex;
    /* align-items: center; */
}

.nav{
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  position: fixed;
  z-index: 10;
}
.nav a{
    font-size: 3rem;
    padding: 1rem;
    color: white;
}
.nav a:hover{
    color: greenyellow;
}
.meme-display{
    width: 200px;
    height: 200px;
}
.content-body{
    margin-left: 5rem;
}